</> CSS
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: Black;
    color: white;
    min-height: 100vh;
}

h1 {
    font-size: 48px;
    margin-top: 120px;
    color: #D4AF37;
}

p {
    font-size: 22px;
}

button {
    background-color: #D4AF37;
    color: #111111;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
}
h2 {
    color: #D4AF37;
    margin-top: 40px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
select {
    display: block;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #D4AF37;
    border-radius: 5px;
    font-size: 16px;
}
